body{
  background-color: #ffdd90;

}

header{
 
  
  background-color: yellowgreen;
}
blockquote{
  background-color: yellowgreen;
}
footer{
  height: 170px;
  
  background-color: yellowgreen;
}
